<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTR"
        tools:targetApi="31">

        <!-- SPLASH (LAUNCHER) -->
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.CTR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TELAS COM TECLADO (adjustPan) -->
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CadastroActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CriarEquipeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GerenciarEquipeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CriarTrabalhoActivity"
            android:windowSoftInputMode="adjustPan" />

        <!-- TELAS SEM TECLADO -->
        <activity android:name=".MainActivity" />
        <activity android:name=".participantes" />
        <activity android:name=".produtos" />
        <activity android:name=".notificacao" />
        <activity android:name=".perfil" />

        <!-- OUTRAS TELAS -->
        <activity
            android:name=".ConvidarTrabalhoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PedirEntradaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EntregarTrabalhoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@fqb729sb" />

    </application>

</manifest>