<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTR"
        tools:targetApi="31">

        <!-- SPLASH ACTIVITY (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.CTR" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".inicial" />
        <activity android:name=".equipe" />
        <activity android:name=".participantes" />
        <activity android:name=".produtos" />
        <activity android:name=".TrabalhoActivity" />
        <activity android:name=".notificacao" />
        <activity android:name=".perfil" />

    </application>

</manifest>